input[type=text],input[type=password], textarea, #select1, #select2{
    display:block;
    width:125;
    margin:0 0 0px 0;
    border:1px solid #ccc;
    font-size:12px;
    padding:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:#fff;
    -moz-box-shadow:inset 0px 0px 3px #ccc;
    -webkit-box-shadow:inset 0px 1px 3px #ccc;
    box-shadow:inset 0px 1px 3px #ccc;
}

.textBtn{
    border:none;
    background-color: white;
    width:200px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    font-family: arial;
    font-size: 13;
    color: #607387;
    margin-top:4px;
}
    .textBtn:hover{
        background-color: #e1e7ed;
        cursor: hand;
    }